# Python Data Types

In [69]:
0.1+0.2-0.3

5.551115123125783e-17

In [70]:
my_dog=2

In [71]:
my_dog

2

In [6]:
type(my_dog)

int

In [7]:
my_dog='Sammy'

In [8]:
my_dog

'Sammy'

In [9]:
type(my_dog)

str

In [10]:
string="I'm out"

# string

In [12]:
print("Hello \nWorld")

Hello
World

In [15]:
var="Hello \nWorld"

In [16]:
len(var)

12

In [17]:
var[0]

'H'

In [18]:
var[-1]

'd'

In [19]:
var[:-1]

'Hello \nWorl'

In [20]:
var[::-1]

'dlroW\n olleH'

In [21]:
var="Hello World"

In [22]:
var

'Hello World'

In [23]:
print("Hello World {}".format('Vinay'))

Hello World Vinay

In [24]:
print("Hello World {name}".format(name='Vinay'))

Hello World Vinay

In [25]:
mystring="Vinay"

In [26]:
mystring

'Vinay'

In [28]:
mystring[2:]

'nay'

In [29]:
mystring[2:3]

'n'

In [30]:
mystring[2:4:-1]

''

In [31]:
mystring[2:4]

'na'

In [32]:
mystring[::-1]

'yaniV'

In [33]:
mystring.lower()

'vinay'

In [34]:
mystring.capitalize()

'Vinay'

In [37]:
mystring.count('i')

1

In [38]:
mystring.find('V')

0

In [39]:
mystring.find('y')

4

In [40]:
mystring + 'Baliyan'

'VinayBaliyan'

In [41]:
mystring + '\nBaliyan'

'Vinay\nBaliyan'

In [42]:
mystring + ' Baliyan'

'Vinay Baliyan'

In [43]:
mystring=mystring + ' Baliyan'

In [44]:
mystring

'Vinay Baliyan'

In [45]:
letter='a'

In [46]:
letter*10

'aaaaaaaaaa'

In [47]:
mystring

'Vinay Baliyan'

In [48]:
mystring.split()

['Vinay', 'Baliyan']

In [49]:
mystring[0]

'V'

In [50]:
mystring=mystring.split()

In [51]:
mystring

['Vinay', 'Baliyan']

In [52]:
mystring[0]

'Vinay'

In [53]:
print("My Name is {name}".format(name='Vinay Baliyan'))

My Name is Vinay Baliyan

In [56]:
print("My Name is {name}".format(name=mystring[0]))

My Name is Vinay

In [57]:
print("My Last Name is {Last_Name}".format(Last_Name=mystring[1]))

My Last Name is Baliyan

In [58]:
print("My Name is {name} and my age is {age}, I work at {company} with a salary of just {sal}".format(name='Vinay', age=25, company='TCS', sal=5.36))

My Name is Vinay and my age is 25, I work at TCS with a salary of just 5.36

In [59]:
dec_value=4.56667789007654321

In [60]:
dec_value

4.5666778900765435

# List

In [1]:
mylist=[1,2,3]

In [2]:
mylist

[1, 2, 3]

In [3]:
my_list=[17,'Vinay',5.36]

In [4]:
my_list

[17, 'Vinay', 5.36]

In [5]:
my_list[1]

'Vinay'

In [7]:
my_list[2]

5.36

###### my_list[0]=1

In [8]:
my_list[0]=16

In [9]:
my_list

[16, 'Vinay', 5.36]

In [11]:
my_list.append(89)

In [12]:
my_list

[16, 'Vinay', 5.36, 89]

In [13]:
my_list.pop()

89

In [14]:
my_list.pop(-1)

5.36

In [15]:
my_list

[16, 'Vinay']

In [16]:
num_list=[1,5,4,3,12,6]

In [17]:
num_list

[1, 5, 4, 3, 12, 6]

In [18]:
num_list.sort()

In [19]:
num_list

[1, 3, 4, 5, 6, 12]

In [20]:
num_list.reverse()

In [21]:
num_list

[12, 6, 5, 4, 3, 1]

In [22]:
nested_list=[2,5,[4,3]]

In [23]:
nested_list

[2, 5, [4, 3]]

In [24]:
nested_list[2][0]

4

# "Dictionaries"

In [28]:
my_dict={'key1':'Vinay','key2':'Baliyan'}

In [29]:
my_dict

{'key1': 'Vinay', 'key2': 'Baliyan'}

In [30]:
my_dict['key1']

'Vinay'

In [31]:
my_dict.keys()

['key2', 'key1']

In [32]:
my_dict.values()

['Baliyan', 'Vinay']

In [33]:
my_dict.items()

[('key2', 'Baliyan'), ('key1', 'Vinay')]

In [34]:
my_dict.copy()

{'key1': 'Vinay', 'key2': 'Baliyan'}

In [35]:
my_dict_new=my_dict.copy()

In [36]:
my_dict_new

{'key1': 'Vinay', 'key2': 'Baliyan'}

In [38]:
my_dict_new.has_key('key2')

True

# "TUPLES"

In [41]:
t1=(1,2,3)

In [42]:
t1

(1, 2, 3)

In [43]:
t1=(1,'Vinay')

In [44]:
t1

(1, 'Vinay')

In [45]:
t1=(1,2,3,4,5,3)

In [46]:
t1

(1, 2, 3, 4, 5, 3)

In [47]:
t1[-1]

3

In [48]:
t2=(1,2,[6,4])

In [49]:
t2

(1, 2, [6, 4])

In [50]:
t3=('a','b','c')

In [51]:
t3

('a', 'b', 'c')

In [52]:
t3.count('a')

1

In [53]:
t2.index(1)

0

# "SETS"

In [55]:
myset=set()

In [57]:
myset

set()

In [58]:
myset.add(2)

In [59]:
myset

{2}

In [60]:
myset.add(3)

In [61]:
myset

{2, 3}

# "BOOLEANS"

In [64]:
type(False)

bool

In [65]:
2>3

False

In [66]:
4>4

False

In [67]:
17>16

True

# Advance Operations

In [3]:
# int() has a base agruement which is base 1o by default
int('11',2) # -> base is now 2
int('18',16) #-> Base 16 is hexadecimal so 18 in hexadecimal is equal to 24

24

In [20]:
# String special functions
'a'.__len__()
'a'.__sizeof__()
'vinaay'.count('a',0,5) #-> can also give index to string.count :: this accepts a substring so count('aa') is also good
'vinaay'.find('a') # -> returns the lowest index of matched substring
'ayjayy'.count('yy')

1