# Object and Data Structure Assignment

In [69]:
# Brief description of all the following object types and data structures learned so far
# Numbers, Strings, Lists, Tuples, Dictionaries
# Numbers: Whole Numbers, Floating Point: Decimanl points
# Strings: Ordered sequence of characters, ordered means that the elements of a string can be accessed via index
# Strings are immutable and does not support item assignment, for example, string_new='Hello', string_new[0]='h'
# Lists: Ordered sequence of objects, objects can be anything from number to string to dictionaries
# Tuples: Order immutable sequenc of objects
# Dictionaries: Unordered objects with keys, can't be sorted but dictionary has mappings and not sequence

In [57]:
# Equation that uses multiplication, division, an exponent, addition and subtraction that equals to 100.25

In [90]:
a=100.25

In [91]:
a

100.25

In [92]:
a=a+0.75

In [93]:
a

101.0

In [94]:
a=a-1

In [95]:
a

100.0

In [100]:
import math

In [102]:
a=math.sqrt(a)

In [103]:
a

10.0

In [104]:
a=a*2

In [105]:
a=a/2

In [65]:
a

[1, 2, [3, 4, 'goodbye']]

In [68]:
a=10
b=(((a*2)/2) ** 2)+1-0.75
print b

100.25

In [110]:
b

100.25

In [111]:
4*(6+5)

44

In [112]:
4*6+5

29

In [113]:
4+6*5

34

In [114]:
type(3+1.5+4)

float

In [60]:
# output of the below of 2/3
# 2/3 will give 0 cause of the integer property, it has to be considered as floating point to get the decimal places
2.0/3.0

0.6666666666666666

# Square Root of a number

In [1]:
a=25

In [2]:
a=a**0.5

In [3]:
a

5.0

# Square of a number

In [4]:
a=a**2

In [5]:
a

25.0

# Strings

In [6]:
# Given the string 'hello' give an index command that returns 'e'.

In [8]:
s='hello'
print(s[1])

e

In [9]:
# Reverse the string using indexing

In [10]:
print(s[::-1])

olleh

In [11]:
# Given the string 'hello', give two methods of producing the letter 'o' using indexing

In [17]:
s='hello'
print(s[-1])
print(s[4])

o
o

# Lists

In [18]:
l=[0,0,0]
print(l)

[0, 0, 0]

In [70]:
l_new=[0]*3
l_new

[0, 0, 0]

In [21]:
a=None

In [24]:
a=[1,2,[3,4,'hello']]
print(a)

[1, 2, [3, 4, 'hello']]

In [26]:
a[2][2]='goodbye'

In [27]:
print a

[1, 2, [3, 4, 'goodbye']]

In [28]:
new_list=[5,3,4,6,1]

In [71]:
sorted(new_list)

[1, 3, 4, 5, 6]

In [72]:
new_list

[1, 3, 4, 5, 6]

In [29]:
new_list.sort()

In [30]:
new_list

[1, 3, 4, 5, 6]

# Dictionaries

In [31]:
d={'simple_key':'hello'}

In [32]:
d['simple_key']

'hello'

In [35]:
d={'k1':{'k2':'hello'}}
d['k1']
d['k1']['k2']

'hello'

In [41]:
# Little tricky question
d={'k1':[{'nest_key':['this is deep',['hello']]}]}
#grab hello

# here we have a dictionary, then value of key 'k1' is a list: 
# d={key:list} -> list has then a dictionary where key is 'nest_key' and the value is again a list with two elements
# one such element of the dictionary is a string 'this is deep' and another element 
# is a list again with an string element 'hello'
d['k1'][0]['nest_key'][1][0]

'hello'

In [43]:
# Another tricky dictionary access problem
d={'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
# grab hello

# this is just like the other one
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

# Tuples

In [48]:
# Difference between list and tuples

In [44]:
t1=(1,2,3)

In [45]:
t1

(1, 2, 3)

In [46]:
t2=(17,'Vinay')

In [47]:
t2

(17, 'Vinay')

# Sets

In [49]:
# what is unique about set?

In [51]:
# find the unique elements of the list using set
l=[1,2,2,33,4,4,11,22,3,3,2]
s=set(l)

In [52]:
s

{1, 2, 3, 4, 11, 22, 33}

# Booleans

In [54]:
print 2>3
print 3<=2
print 3==2.0
print 3.0==3
print 4 ** 0.5 !=2

False
False
False
True
False

In [55]:
# two nested lists
l_one=[1,2,[3,4]]
l_two=[1,2,{'k1':4}]

#True or False
l_one[2][0] >= l_two[2]['k1']

False